.piedePagina{
    background-color: rgb(73, 72, 72);
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: 0px;
    
}
body, html {
    height: 100%;
    background-color: rgb(16, 4, 61);
  }

.bg {
    /* The image used */
    margin-top: 0%;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .bg1 {
    /* The image used */
    background-image: url("../imagenes/fondo2.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2{
    color: cornsilk;
  }

  #scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
    
  }