.piedePagina{
    background-color: rgb(73, 72, 72);
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: 0px;
    
}
body, html {
    height: 100%;
    background-color: rgb(16, 4, 61);
  }

.bg {
    /* The image used */
    margin-top: 0%;
    background-image:url("../imagenes/proyectoWeb.png") ;
  
    /* Full height */
    width: 100%;
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  h2{
    color: cornsilk;
  }

  #scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
    
  }
  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.carousel-inner  { 
  border: solid white;
  margin: auto;
  align-items: center;
  width:50%; 
  
}

.parrafoindex{
  font-size: 2rem;
  color: yellow;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 1px 1px 2px black;
  
}